<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Happiness Journal Ideas</title>
</head>
<body>
    {{ message }}
    <div>Got an awesome idea? Note it down here: 
        <form action="/ideas" method="POST">
            <input type="text" name="idea_note"><input type="submit">
        </form>
    </div>
    <div>
        {% for idea in ideas %}
            <h2>{{ idea.note }}</h2>
            <a href="/ideas/edit/{{ idea.id }}">Edit</a>
            <a href="/ideas/delete/{{ idea.id }}">Delete</a>
        {% endfor %}
    </div>
</body>
</html>